
.address-input[disabled]{
    background: none;
    border: none;
    font-size: 20px;
    color: #000000;
}

.address-input{
    font-size: 20px;
    color: #000000;
}

.address-items-container{
    width: 300px;
    display: flex;
    justify-content: space-between;
}

#container{
    height: 100%;
    width: 100%;

}

#content-container{
    margin: 0 auto;
    width: 50%;
}

#profile-info{
    width: 70%;
    height: 40%;
    display: flex;
}

#user-info{
    width: 40%;
}

#user-name-container{
    width: 100%;
    font-size: 20px;
    color: #000000;
}

#user-avatar-image{
    max-width: 100px;
    border-radius: 50%;
}

#user-phone-container{
    width: 100%;
    font-size: 20px;
    color: #000000;
}

.user-info-input[disabled]{
    background: none;
    border: none;
    font-size: 20px;
    color: #000000;
}